<h1>Memory Matching</h1>

<head>
</head>

<body>

<div class='row'>

  <div class='col s3 grid-cell box' >
    <div id='moveable-icons'>
    <i class="large material-icons hide">movie</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">snooze</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">warning</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">stars</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">loop</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">warning</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">stars</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
   <i class="large material-icons hide">chat_bubble_outline</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">movie</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">loop</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">snooze</i>
    </div>
  </div>

  <div class='col s3 grid-cell box'>
    <div id='moveable-icons'>
    <i class="large material-icons hide">chat_bubble_outline</i>
    </div>
  </div>

</body>

</div>

